{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Auctions I've Bid On:</h2>


    <table class="table">
        <thead>
          <tr>
            <th scope="col">Listing Name</th>
            <th scope="col">Auction End Date</th>
            <th scope="col">My Bid / Current Bid</th>
          </tr>
        </thead>
        <tbody>
        {% for post in myBiddings %}
          <tr>
            <th scope="row"><a href="listing/{{post.id}}">{{ post.post_name }}</a></th>
            <td>{{post.post_end_date}}</td>
            <td> ${{post.high_bid}} / ${{post.all_bids.bid__max}} </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock %}